<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sftpreaderqueue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3694f265-8572-4f02-ab33-a5b73a277510/resourceGroups/StraighForward/providers/Microsoft.Web/sites/SFTPReaderQueue</ResourceId>
    <UserName>$SFTPReaderQueue</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sftpreaderqueue.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>