<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sftpreadernotification.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c1e2eed2-e674-4b7a-9b4f-75b52dec1f12/resourcegroups/StraighForward/providers/Microsoft.Web/sites/SFTPReaderNotification</ResourceId>
    <UserName>$SFTPReaderNotification</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sftpreadernotification.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>